header.header
    .container.container--header
        nav.header__nav
            ul.header__list
                li.header__item
                    a(class='header__item-link' href='#') Услуги
                li.header__item
                    a(class='header__item-link' href='#') Галерея
                li.header__item
                    a(class='header__item-link' href='#') Отзывы
                li.header__item
                    a(class='header__item-link' href='#') Контакты
        .header__phone
            span.header__phone  8-(900)-900-90-90