.service  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.container--service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service__title {
  display: flex;
  margin-bottom: 70px;
}

.service__title-text  {
  color: rgb(47, 48, 54);
  font-weight: bold;
  text-transform: uppercase;
}

.service__list  {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.service__item  {
  display: flex;
  align-items: center;
  width: 380px;
  margin-bottom: 45px;
    //&:nth-of-type(even) {
    //  margin-left: 40px;
    //}
}

.service__picture, .service__picture--transmission {
  width: 240px;
  height: 240px;
  display: flex;
  background-image: url(/assets/img/service/transmission.jpg);
  background-size: cover;
  border-radius: 50%;
  filter:opacity(50%);
  background-position: center;
    &:hover {
      filter:opacity(40%);
    }
}

.service__picture--electro  {
  background-image: url(/assets/img/service/electro.jpg);
}

.service__picture--body {
  background-image: url(/assets/img/service/body.jpg);
}

.service__picture--tires  {
  background-image: url(/assets/img/service/tires.jpg);
}

.service__picture--wash {
  background-image: url(/assets/img/service/wash.jpg);
}

.service__picture--engine {
  background-image: url(/assets/img/service/engine.jpg);
}

.service__item-text {
  font-size: 22px;
  color: rgb(3, 3, 4);
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 260px;
  margin-left: -140px;
  z-index: 1;
}

.service__button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 30px;
  color: #292929;
  border-radius: 10px;
  transition: 0.3s;
  border-bottom: 1px dashed black;
  margin-bottom: 30px;
    &:hover {
      color: #000000;
      border-bottom: 1px transparent;
    }
}

.service__prices {
  display: none;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.service__prices-item {
  display: flex;
  border-radius: inherit;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: rgba(2, 206, 255, 0.9);
  }
}

.service__prices-name {
  width: 60%;
  padding: 10px;
  border-right: 1px solid black;
  font-size: 24px;
  text-transform: uppercase;
}

.service__prices-price  {
  width: 40%;
  padding: 10px;
  font-size: 24px;
}